kkkhtml
  body
    div
      form(method="post")
        input(type="text", name="acc_name", placeholder="Enter account name")
        br
        br
        input(type="submit", value="account create", formaction="/wallet/create")
        br
        br
        br
        input(type="submit", value="set wasm", formaction="/wallet/wasm")
        br
        br
        br
        input(type="submit", value="set abi", formaction="/wallet/abi")
        br
        br
        br
        input(type="text", name="a_id", placeholder="Enter the admin id")
        br
        br
        input(type="text", name="a_name", placeholder="Enter the admin name")
        br
        br
        input(type="submit", value="admin", formaction="/wallet/admin")
        br
        br
        br
        br
        br
        input(type="text", name="c_id", placeholder="Enter the user id")
        br
        br
        input(type="text", name="c_name", placeholder="Enter the user name")
        br
        br
        input(type="number", name="c_amt", placeholder="Enter the amount")
        br
        br
        input(type="submit", value="user", formaction="/wallet/user")
        br
        br
        br
        input(type="text", name="s_aid", placeholder="Enter the admin id")
        br
        br
        input(type="text", name="s_pid", placeholder="Enter the product id")
        br
        br
        input(type="text", name="s_name", placeholder="Enter the user name")
        br
        br
        input(type="number", name="s_qty", placeholder="Enter the quatity")
        br
        br
        input(type="number", name="s_price", placeholder="Enter the price")
        br
        br
        input(type="submit", value="user", formaction="/wallet/setproducts")
        br
        br
        br
        input(type="text", name="g_pid", placeholder="Enter the product id")
        br
        br
        input(type="text", name="g_aid", placeholder="Enter the admin id")
        br
        br
        input(type="text", name="g_cid", placeholder="Enter the customer id")
        br
        br
        input(type="number", name="g_qty", placeholder="Enter the quatity")
        br
        br
        input(type="submit", value="user", formaction="/wallet/setproducts")
        br
        br
        br
        input(type="text", name="scope", placeholder="Enter the scope")
        br
        br
        input(type="text", name="code", placeholder="Enter the code")
        br
        br
        input(type="text", name="table", placeholder="Enter the table name")
        br
        br
        input(type="submit", value="Show Table", formaction="/wallet/doc")

